body {
    font-family: ETBembo;
}

red { color: crimson; }
blue { color: #55f; }

/* ============== Index =============== */

[type=index] {
    font-size: 200%;
}
[type=index] h1,h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ============== REVEAL =============== */

.reveal textarea {
    width: 100%;
    font-family: "Ubunto Mono", monospace;
    font-size: 75%;
}
.reveal pre.err {
    color: red;
}
.reveal table {
    margin-left: 0;
    font-family: "Ubunto Mono", monospace;
    font-size: 80%;
    border-collapse: collapse;
}
.reveal table thead {
    font-family: Roboto;
    color: #333;
    background: #eee;
}
.reveal table td,
.reveal table thead th,
.reveal table tbody tr:last-child th, 
.reveal table tbody tr:last-child td {
    border: thin solid #aaa;
}

